node_modules
.env
.env.local
dist
build
backend/database.sqlite
backend/prisma/database.sqlite
backend/prisma/*.sqlite-journal
backend/prisma/*.sqlite-wal
backend/prisma/*.sqlite-shm
backend/videos
backend/cloudflared.exe
backend/mock-cloud-storage
*.log
*.mp4
*.exe
.DS_Store
_S3rver_object*
